venv/
__pycache__/
*.pyc
recordings/
snapshots/
results/
screenshots/
.ipynb_checkpoints/
.vscode/
.idea/
*.mp4
*.csv
report/*.log
report/*.aux
report/*.toc
report/*.lof
report/*.lot
report/*.bbl
report/*.blg
report/*.out
